#{{:el :namespace
   :id :ODataAPI
   :name "ODataAPI"
   :ct [{:el :class
         :edmx/tag :EntityType
         :edmx/schema-ns "ODataAPI"
         :id :ODataAPI/Event
         :name "Event"
         :abstract false
         :ct [{:el :field
               :edmx/tag :Property
               :name "EventID"
               :optional false
               :type "long"}
              {:el :field
               :edmx/tag :Property
               :name "Description"
               :optional true
               :type "string"}
              {:el :field
               :edmx/tag :Property
               :name "Name"
               :optional true
               :type "string"}
              {:el :field
               :edmx/tag :Property
               :name "Type"
               :optional true
               :type "string"}
              {:el :field
               :edmx/tag :Property
               :name "Country"
               :optional true
               :type "string"}
              {:el :field
               :edmx/tag :NavigationProperty
               :name "Features"
               :optional true
               :type "Feature.ODataAPI"}
              {:el :field
               :edmx/tag :NavigationProperty
               :name "Sessions"
               :optional true
               :type "Session.ODataAPI"}
              {:el :field
               :edmx/tag :NavigationProperty
               :name "Theme"
               :optional true
               :type "GlobalTheme.ODataAPI"}
              {:el :field
               :edmx/tag :NavigationProperty
               :name "Tracks"
               :optional true
               :type "Track.ODataAPI"}]}
        {:el :class
         :edmx/tag :EntityType
         :edmx/schema-ns "ODataAPI"
         :id :ODataAPI/Session
         :name "Session"
         :abstract false
         :ct [{:el :field
               :edmx/tag :Property
               :name "SessionID"
               :optional false
               :type "long"}
              {:el :field
               :edmx/tag :Property
               :name "Description"
               :optional true
               :type "string"}
              {:el :field
               :edmx/tag :Property
               :name "EventID"
               :optional true
               :type "long"}
              {:el :field
               :edmx/tag :Property
               :name "Title"
               :optional true
               :type "string"}
              {:el :field
               :edmx/tag :NavigationProperty
               :name "Track"
               :optional true
               :type "Track.ODataAPI"}
              {:el :field
               :edmx/tag :NavigationProperty
               :name "Event"
               :optional true
               :type "Event.ODataAPI"}]}
        {:el :class
         :edmx/tag :EntityType
         :edmx/schema-ns "ODataAPI"
         :id :ODataAPI/Track
         :name "Track"
         :abstract false
         :ct [{:el :field
               :edmx/tag :Property
               :name "DisplayColor"
               :optional true
               :type "string"}
              {:el :field
               :edmx/tag :Property
               :name "EventID"
               :optional true
               :type "long"}
              {:el :field
               :edmx/tag :Property
               :name "Name"
               :optional true
               :type "string"}
              {:el :field
               :edmx/tag :Property
               :name "TrackID"
               :optional false
               :type "long"}]}
        {:el :class
         :edmx/tag :EntityType
         :edmx/schema-ns "ODataAPI"
         :id :ODataAPI/User
         :name "User"
         :abstract false
         :ct [{:el :field
               :edmx/tag :Property
               :name "Company"
               :optional true
               :type "string"}
              {:el :field
               :edmx/tag :Property
               :name "FirstName"
               :optional true
               :type "string"}
              {:el :field
               :edmx/tag :Property
               :name "LastName"
               :optional true
               :type "string"}
              {:el :field
               :edmx/tag :Property
               :name "UserID"
               :optional false
               :type "string"}
              {:el :field
               :edmx/tag :NavigationProperty
               :name "Events"
               :optional true
               :type "Event.ODataAPI"}]}
        {:el :class
         :edmx/tag :EntityType
         :edmx/schema-ns "ODataAPI"
         :id :ODataAPI/UserSessionAgenda
         :name "UserSessionAgenda"
         :abstract false
         :ct [{:el :field
               :edmx/tag :Property
               :name "EventID"
               :optional true
               :type "long"}
              {:el :field
               :edmx/tag :Property
               :name "Notes"
               :optional true
               :type "string"}
              {:el :field
               :edmx/tag :Property
               :name "Priority"
               :optional true
               :type "int"}
              {:el :field
               :edmx/tag :Property
               :name "SessionID"
               :optional false
               :type "long"}
              {:el :field
               :edmx/tag :Property
               :name "UserID"
               :optional true
               :type "string"}
              {:el :field
               :edmx/tag :NavigationProperty
               :name "Session"
               :optional true
               :type "Session.ODataAPI"}]}
        {:el :class
         :edmx/tag :EntityType
         :edmx/schema-ns "ODataAPI"
         :id :ODataAPI/Feature
         :name "Feature"
         :abstract false
         :ct [{:el :field
               :edmx/tag :Property
               :name "FeatureID"
               :optional false
               :type "long"}
              {:el :field
               :edmx/tag :Property
               :name "Name"
               :optional true
               :type "string"}
              {:el :field
               :edmx/tag :Property
               :name "Status"
               :optional true
               :type "string"}]}
        {:el :class
         :edmx/tag :EntityType
         :edmx/schema-ns "ODataAPI"
         :id :ODataAPI/GlobalTheme
         :name "GlobalTheme"
         :abstract false
         :ct [{:el :field
               :edmx/tag :Property
               :name "DisplayName"
               :optional true
               :type "string"}
              {:el :field
               :edmx/tag :Property
               :name "SystemTheme"
               :optional true
               :type "boolean"}
              {:el :field
               :edmx/tag :Property
               :name "ThemeCode"
               :optional true
               :type "string"}
              {:el :field
               :edmx/tag :Property
               :name "ThemeID"
               :optional false
               :type "long"}]}]}}